In [11]:
import pandas as pd
#df = pd.read_csv('../data/cuiaba.csv')
df2 = pd.read_excel('../data/cuiaba.xlsx')

In [ ]:
df2.tail(5)

,Player Name,Period Name,Period Number,Date,Position,Start Time,End Time,Unix Start Time,Unix End Time,Duration,...,ESPAÇO DE JOGO (LARGURA X COMPRIMENTO),SEMANA CONGESTIONADA (<4D),MANDO DE CAMPO,RESULTADO 1º TEMPO,RESULTADO 2º TEMPO,RESULTADO FINAL,SAIU NA FRENTE,TROCAS <70MIN,ATIVIDADE,MICROCICLO
3355,46,1º TEMPO,3,11/30/2024,GK,18:30:05,19:17:19,1.733006e+09,1.733009e+09,00:47:14,...,NaN,NÃO,SIM,EMPATE,DERROTA,DERROTA,SIM,2.0,1º_TEMPO,47
3356,46,2º TEMPO,4,11/30/2024,GK,19:33:24,20:23:32,1.733010e+09,1.733013e+09,00:50:08,...,NaN,NÃO,SIM,EMPATE,DERROTA,DERROTA,SIM,2.0,2º_TEMPO,47
3357,46,JOGO X FLUMINENSE_2024_12_05,0,12/5/2024,GK,19:08:33,21:58:09,1.733437e+09,1.733447e+09,02:49:36,...,NaN,NÃO,NÃO,EMPATE,DERROTA,DERROTA,NÃO,4.0,NaN,48
3358,46,1º TEMPO,3,12/5/2024,GK,20:01:31,20:52:43,1.733440e+09,1.733443e+09,00:51:12,...,NaN,NÃO,NÃO,EMPATE,DERROTA,DERROTA,NÃO,4.0,1º_TEMPO,48
3359,46,2º TEMPO,4,12/5/2024,GK,21:07:41,21:58:09,1.733444e+09,1.733447e+09,00:50:28,...,NaN,NÃO,NÃO,EMPATE,DERROTA,DERROTA,NÃO,4.0,2º_TEMPO,48

In [12]:
# find out how many unique "Position" values are there
if "Position" in df2.columns:

    print(len(df2['Position'].unique()))
else:
    print("Column 'Position' does not exist in the DataFrame.")

Column 'Position' does not exist in the DataFrame.